<nav class="teal lighten-2" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="#" class="brand-logo">Dronagram</a>
    <ul class="right hide-on-med-and-down">
      <li>
        <%= link_to 'Home', static_pages_home2_path %>
      </li>
      <li>
        <%= link_to 'Create Post', new_user_post_path(@user) %>
      </li>
      <li>
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </li>
    </ul>
  </div>
</nav>
 <% @posts.each do |post| %>
        <div class="row">
           <div class="col s12 m7">
             <div class="card">
               <div class="card-image">
               <%= image_tag post.image.url(:medium) %>
                 <span class="card-title">Card Title</span>
               </div>
               <div class="card-content">
                 <% post.caption %>
               </div>
               <div class="card-action">
                 <a href="#">This is a link</a>
               </div>
             </div>
           </div>
         </div>
    <% end %>